<main>
  <p id="notice"></p>
  <div class="mx-auto" style="width: 40%;">
    <h1 class="font-weight-bold">
      welcome to
      <i class="fas fa-book"></i>
      Bookers !!
    </h1>
  </div>
</main>